* {
    box-sizing: border-box;
}

:root {
    --bg-dark: #272539
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--bg-dark);
    color: white;
}
.connect4 {
    display: inline-block;
    margin: 20px;
}
.board {
    display: flex;
    background-color: #234e7c;
    padding: 5px;
    border-radius: 10px;
}
.column {
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px;
}

.column:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.board.disabled .column,
.column.disabled {
    cursor: default;
}
.board.disabled .column:hover,
.column.disabled:hover {
    background-color: unset;
}


.piece {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;


    width: 34px;
    height: 34px;
    border-radius: 50%;

    animation: pulse 0.3s ease-in;
}
.slot {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: var(--bg-dark);
    border-radius: 50%;
    position: relative;
}
.red {
    background-color: #2e9f68;
}
.yellow {
    background-color: #9d35cd;
}

@keyframes pulse {
    0% {
        scale: 0;
    }
    50% {
        scale: 1;
    }
    75% {
        scale: 0.9;
    }
    100% {
        scale: 1;
    }
}