.house-container {
    --side-width: 150px;
    --house-height: 200px;


    height: 350px;
    width: 400px;
    position: relative;
}

.house-container * {
    position: absolute;
}

.house {
    bottom: 0%;
    left: 75px;
    height: var(--house-height);
    width: var(--side-width);
    background: #ded2b7;
}

.roof {
    content: '';
    position: absolute;
    height: calc(var(--side-width) * 0.7);
    width: calc(var(--side-width)  * 0.7);

    top: 0;
    left: 50%;
    background: #ded2b7;
    transform: rotate(45deg);
    translate: -50% -50%;

    border-top: 10px solid #761801;
    border-left: 10px solid #761801;
    border-radius: 5px;
    z-index: 2
}
.side-roof {
    background-color: #731b00;
    z-index: 1;
    width: 230px;
    height: 81px;
    left: 50%;
    bottom: 100%;
    transform: skewX(45deg) translate(30px, 6px);
}
.house::after {
    content: '';
    position: absolute;
    top: -70px;
    left: 15px;
    height: 70px;
    width: 30px;
    background: #761801;
    z-index: 1;
    border-top: 7px solid rgba(0, 0, 0, .3);
}

.side-wall {
    background-color: #c6bd8b;
    width: 200px;
    height: 200px;
    left: 100%;
}

.window {
    top: 35px;
    left: 25px;
    height: 80px;
    width: 70px;
    background: #06252c;
    z-index: 3;
    border: 7px solid #a07704;
    border-radius: 2px;
}

.window::before,
.window::after {
    content: '';
    position: absolute;
    background: #a07704;
}

.window::before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 6px;
    transform: translateX(-50%);
}

.window::after {
    top: 50%;
    height: 6px;
    width: 100%;
    transform: translateY(-50%);
}

.door {
    top: 70px;
    left: 250px;
    height: 130px;
    width: 70px;
    background: #761801;
    z-index: 3;
}

.door::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1px solid #FFF;
    background: #96ebff;
}