.footer {
    width: 100%;

    border-top: var(--bg-light) 2px solid;

    .footer-links {
        display: flex;
        width: 100%;
        justify-content: center;

        .footer-link {
            display: block;
            position: relative;
            width: 3rem;
            height: 3rem;
            border-radius: 0.5rem;
            background-color: var(--blue);
            transition: 0.1s;
            margin: 1rem;

            i {
                position: absolute;
                font-size: 2rem;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                transition: 0.2s;
            }

            &:hover {
                scale: 1.03;

                i {
                    scale: 1.06;
                }
            }
        }
    }

    .footer-base {
        opacity: 0.5;
        text-align: center;
        padding-bottom: 1rem;
    }
}