// Large nav
@media only screen and (min-width: 800px) {
    .nav {
        width: 100%;
        margin-top: 1rem;
        font-size: 1.5rem;
        z-index: 10;

        text-align: center;

        top: 10px;
        position: sticky;

        button {
            display: none;
        }

        i {
            margin-right: 0.5rem;
        }

        ul {
            padding: 0;
            display: flex;
            justify-content: center;

            a {
                background-color: var(--bg1);
                max-width: 12rem;
                flex: 1 1 0px;
                padding: 1rem;
                transition: 0.2s;
                margin: 0rem 1rem;

                border: white 2px solid;
                border-radius: 1rem;

                &:hover {
                    background-color: var(--blue);
                    border-color: var(--blue);
                }
            }
        }
    }
}

// Small nav
@media only screen and (max-width: 600px) {
    .nav {
        position: fixed;
        top: 1rem;
        right: 1rem;

        z-index: 99;

        button {
            display: block;
            font-size: 2rem;
        }

        #nav-list {
            transition: opacity 0.2s;
            opacity: 0;
            pointer-events: none;

            &.enabled {
                opacity: 1;
                pointer-events: unset;
            }
        }

        ul {
            background-color: var(--bg-dark);
            border-radius: 1rem;
            min-width: 200px;

            display: flex;
            flex-direction: column;
            padding: 0rem;

            position: absolute;
            right: 0;

            overflow: hidden;

            i {
                margin-right: 0.5rem;
            }

            a {
                width: 100%;
                padding: 1rem;

                &:hover {
                    background-color: var(--blue);
                }

                &:not(:last-child) {
                    border-bottom: var(--bg1) solid 1px;
                }
            }
        }
    }
}