@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #21293f;
    background-image: radial-gradient(ellipse at bottom, #F1DEC9 0%, #F0DC6E 5%, #D87156 30%, #21293f 90%);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    position: absolute;
    border: 2px dotted white;
    border-radius: 50%;
    width: min(70vh, 70vw);
    height: min(70vh, 70vw);

    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.circle {
    --circle-size: min(30vh, 30vw);

    position: absolute;
    left: calc(50% - var(--circle-size) / 2);
    top: calc(50% - var(--circle-size) / 2);
    height: var(--circle-size);
    width: var(--circle-size);
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    width: 100%;
    border-radius: var(--circle-size);
}

.circle-inner {
    width: 100%;
    height: 100%;
}

.circle-inner .overlay {
    background-color: rgb(18, 18, 20);
    opacity: 0.3;

    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.3s;
    width: 100%;
    height: 100%;
}

.circle-inner:hover .overlay {
    background-color: rgb(81, 81, 255);
    opacity: 0.8;
}

.circle .title {
    text-decoration: none;
    color: white;

    width: 100%;
    text-align: center;
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}


#mouse-glow {
    z-index: -100;
    filter: blur(100px);
    opacity: 0.1;

    --size: 10rem;

    width: var(--size);
    height: var(--size);
    border-radius: var(--size);

    background-color: white;

    position: absolute;
    transform: translate(-50%, -50%);

    transition: 0.05s linear;
}

@media only screen and (max-width: 800px) {
    #mouse-glow {
        display: none;
    }

    .circle-inner .overlay {
        background-color: rgb(18, 18, 20);
        opacity: 0.3;
    }
}

.meteor {
    position: absolute;
    width: 300px;
    height: 1px;
    rotate: -45deg;
    background-image: linear-gradient(to right, #d1daff, transparent);
    transition: top 0.4s linear, left 0.4s linear;

}

.meteor::before {
    content: "";
    position: absolute;
    box-shadow: 0 0 15px 8px #ecf0ff;
}


#me-title {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    font-weight: 900;
    font-size: 2.5rem;

    pointer-events: none;

    width: 100%;
    text-align: center;


    animation: rotate 10s infinite ease-in-out, scale 7s infinite ease-in-out;
}

@keyframes rotate {
    0% {
        rotate: 5deg;
    }

    25% {
        rotate: -5deg;
    }

    50% {
        rotate: 5deg;
    }

    75% {
        rotate: -3deg;
    }

    100% {
        rotate: 5deg;
    }
}

@keyframes scale {
    0% {
        scale: 1.1;
    }

    25% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    75% {
        scale: 1.15;
    }

    100% {
        scale: 1.1;
    }
}