body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

p {
    margin: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: pink;

    a {
        display: block;
        list-style: none;
        padding: 1rem;
        background-color: pink;
        color: white;
        text-decoration: none;
        &:hover {
            filter: brightness(80%);
        }
    }
}