.header {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    min-height: 400px;
    height: 30vw;

    .header-background {
        background-color: var(--night-sky);
        width: var(--header-bg-width);
        height: var(--header-bg-width);
        border-radius: var(--header-bg-width);
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        overflow: hidden;
    }

    img {
        width: 10rem;
        aspect-ratio: 1/1;
        border-radius: 20rem;
        position: absolute;
        left: 50%;
        top: 0.5rem;
        transform: translate(-50%, 0%);
    }

    .main-title {
        font-weight: 100;
        font-size: max(10vw, 3rem);
        text-align: center;

        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);

        filter: drop-shadow(0px 5px 8px #141415);

        .subtitle {
            position: absolute;
            top: 90%;
            width: 100%;
            font-size: 3rem;
        }
    }
}

.header-inner {
    width: 100vw;
    height: 30vw;
    min-height: 400px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


// METEOR SHOWER
#meteor-shower {
    .meteor-root {
        position: absolute;
        top: -150px;

        .meteor {
            position: absolute;
            width: 300px;
            height: 1px;
            rotate: -45deg;
            background-image: linear-gradient(to right, var(--meteor-glow), transparent);
            transition: top 0.8s linear, left 0.8s linear;

            animation: meteor linear 0.5s;

            &::before {
                content: "";
                position: absolute;
                box-shadow: 0 0 15px 8px var(--meteor-body);
            }
        }
    }
}

@keyframes meteor {
    0% {
        top: 0;
        left: 0;
    }

    100% {
        top: 800px;
        left: -800px;
    }
}

#stars-bg {
    opacity: 0.8;

    .star {
        background-color: var(--meteor-body);
        position: absolute;
        border-radius: 100px;
        animation: flicker infinite linear 0.3s;
    }

    .star::after {
        content: "";
        background-color: var(--meteor-glow);
        filter: blur(10px);
        width: 100%;
        height: 100%;
        display: block;
    }
}