@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&display=swap');

$blue: #3965a8;
$blue-light: #5598d3;
$blue-dark: #384a9b;
$blue-opacity: #3965a8bf;

$gold: #ffae1a;
$bg1: #16161a;
$bg-light: #222031;
$bg-dark: #1c1e23;

$grey-light: #c8cbce;

:root {
  --header-bg-width: 3000px;
  --header-bg-offset: -2550px;

  --blue: #{$blue};
  --blue-light: #{$blue-light};
  --blue-dark: #{$blue-dark};
  --blue-opacity: #{$blue-opacity};

  --gold: #{$gold};
  --bg1: #{$bg1};
  --bg-light: #{$bg-light};
  --bg-dark: #{$bg-dark};

  --grey-light: #{$grey-light};

  --night-sky: #1d1b28;

  --meteor-glow: #d1daff;
  --meteor-body: #ecf0ff;

  --text-color: #f2f5f7;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background-color: $bg1;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--text-color);
  text-decoration: inherit;
  transition: 0.2s;
}

.text-link {
  color: var(--blue-light);
  font-weight: bold;
  transition: opacity 0.1s;

  &:hover {
    opacity: 0.8;
  }
}

ul {
  margin: 0;
  padding-left: 20px;
}

h1,
h2 {
  text-align: center;
  position: relative;
  width: fit-content;
  margin: 1rem auto;

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: 0%;
    width: 80%;
    height: 110%;
    transform: translateX(-50%);
    border-bottom: white 3px solid;
  }
}

.main-content {
  opacity: 0;
  animation: fade-in 1s ease-out forwards;
}

// SECTION STYLES
.section {
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
  font-size: 1.125rem;

  &.shown {
    opacity: 1;
    pointer-events: unset;
  }
}

// ABOUT SECTION
#about {
  width: 90%;
  text-align: left;
  margin: auto;
  max-width: 1000px;
}

#back-to-top {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;

  font-size: 1.5rem;

  transition: opacity 0.2s, background-color 0.2s, scale 0.2s;

  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;

  background-color: var(--blue);

  border: none;
  outline: none;
  color: var(--text-color);
  cursor: pointer;

  display: flex;
  align-items: center;

  .icon {
    margin: auto;
    display: block;
  }

  &:disabled {
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    background-color: var(--blue-dark);
  }

  &:active {
    scale: 1.1;
  }
}

// For smaller screens
@media only screen and (max-width: 600px) {

  html,
  body {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }

  .project {
    width: 95%;
  }
}

@media only screen and (max-width: 400px) {
  #projects .project-selectors .selector {
    width: 8rem;
    margin: 0.5rem;
  }
}

@keyframes flicker {
  0% {
    scale: 1;
  }

  50% {
    scale: 0.9;
  }

  100% {
    scale: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fade-out-in {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    rotate: 0deg;
  }

  20% {
    rotate: 20deg;
  }

  40% {
    rotate: -20deg;
  }

  60% {
    rotate: 20deg;
  }

  80% {
    rotate: -20deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes pop {
  0% {
    scale: 1;
  }

  80% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}