#resume {
    width: 80%;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 1rem;

    .resume-container {
        display: flex;
        margin-top: 2rem;

        .resume-part {
            width: 100%;

            &:not(:first-child) {
                margin-left: 2rem;
            }

            .title {
                font-weight: 900;
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            .experience {
                position: relative;
                padding: 0 1rem 1rem 1rem;
                border-left: var(--blue) 2px solid;

                &:not(:last-child) {
                    padding-bottom: 2rem;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 6px;
                    left: -1rem;
                    transform: translate(50%, 0%);
                    background-color: var(--blue);
                }

                .title {
                    font-weight: 900;
                    font-size: 18px;
                    transform: translateY(-6px);
                    margin-bottom: 0;
                }

                .time {
                    border-bottom: var(--blue) 2px solid;
                    width: fit-content;
                    margin-bottom: 1rem;
                }

                li:not(:last-child) {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    #resume .resume-container {
        display: block;
    }

    #resume .resume-container .resume-part {
        margin-bottom: 1rem;

        &:not(:first-child) {
            margin-left: 0;
        }
    }

}